body{
  background-image: url("../img/background.png");
}
.bg-main {
  background-color: #fffffff8;
}
.header {
background-color: #fffffff8;
opacity: 0.1;
}
body,html {
  height: 100%;
}
.border-r {
  border-right: 3px white  solid;
  /* border-style:; */
}
.btn-review {
  background-color: #ff5000;
}
.paso2{
  color: #000000;
  /* font-weight: normal; */
}